langchain
google-generativeai
SpeechRecognition
pygame
gTTS
python-dotenv
pillow
chromadb
bcrypt
tiktoken
langchain-google-genai
langchain-community
pydantic
langchain-chroma
langchain-huggingface
pyaudio